/* Modified from company-whitepaper.css by Morgan McGuire,
from https://casual-effects.com/markdeep/company/whitepaper/company-whitepaper.css */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto,Arial,sans-serif;
    font-size: 11pt;
    font-weight: 100;
}

/* reset heading/link fonts to that of body */
.md a,
.md div.title, contents, .md .tocHeader,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
.md .nonumberh1, .md .nonumberh2, .md .nonumberh3, .md .nonumberh4, .md .nonumberh5, .md .nonumberh6,
.md .shortTOC, .md .mediumTOC, .md .longTOC {
    font-family: inherit;
}

/* no numbering of headings */
.md h1:before, .md h2:before, .md h3:before, .md h4:before, .md h5:before, .md h6:before { content: none; }
.md .tocNumber { display: none; }

.md h1, .md .nonumberh1, .md .tocHeader {page-break-before:always}

.md .nonumberh1, .md .tocHeader {
    text-align: right;
    border: none;
    font-size: 24pt;
    font-weight: 400;
    color: #cf8313;
}

.md h2, .md h3, .md h4, .md h5, .md h6 {
    border: none;
    color: #cf8313;
}

.md h2 { font-size: 22pt; }
.md h3 { font-size: 19pt; font-weight: 400;}
.md h4 { font-size: 17pt; font-weight: 400;}
.md h5 { font-size: 15pt; font-weight: 400;}
.md h6 { font-size: 12pt; font-weight: 400;}

.md .longTOC {
    color: #000;
}

.md .longTOC .level1 {
    color: #cf8313;
}

.md .longTOC .level2, .md .longTOC .level3, .md .longTOC .level4, .md .longTOC .level5, .md .longTOC .level6 {
    color: black;
}


.md table.table {
    width: 100%;
    font-size: 10pt;
    font-weight: 100;
}

.md table.table th {
    background: #f7d7a8;
    color: black;
    font-size: 12pt;
}

.md ol {
    padding-left: 15px;
}

.md ol ol { padding-left: 22px; }


.md ul {
    padding-left: 0px;
    list-style-type: none;
}

.md ul ul { padding-left: 22px }

.md ul li::before {
    content: '\25B6\FE0E';
    font-size: 80%;
    color: #cf8313;
    margin-right: 10px;
}


.md ul ul li::before {
    content: '\2022';
    font-size: 120%;
}

.md ul ul ul li::before {
    content: '>';
    font-size: 120%;
    font-weight: bold;
}

.md ul ul ul ul li::before {
    content: '\2014';
    font-weight: 100;
}

/********* Modifications to the style sheet begin below *********/

html {
    -webkit-text-size-adjust: 100%;
}


.md .listingcaption, .md .imagecaption {
    font-style: normal !important;
    font-weight: 700;
}

.md div.title {
    position: absolute;
    font-size: 24pt;
    text-align: center;
    top: 0cm;
    left: 0cm;
    margin: 0cm;
    padding: 20px 0 10px;
    width: 100%;
    color: white;
    background-color: #eb9f2d;
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 16px solid #cf8313;
    border-image-source: url("../img/seperator.png");
    border-image-slice: 326 0;
    border-image-width: 0 0 16px;
    border-image-outset: 8px;
    border-image-repeat: repeat;
}

@media screen and (max-width: 870px) {
    .md div.title {
        background-size: auto 100px;
    }
}

.md div.subtitle {
    margin-top: 105px;
    font-size: 15pt;
    font-style: italic;
}

.md .afterTitles {
    height: 0 !important;
}


.md h1 {
    border-bottom: 3px solid #cf8313;
    font-size: 24pt;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.markdeepFooter {
    padding-top: 0;
}
