@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  background-color: white;
}

#main {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 100px;
  text-align: center;
}

h1 {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

  h1 {
    color: white;
  }
}